<% include ./partials/header %>
<h1>Log in</h1>
<form action="/login" method="post">
  <input type="text" name="username">
  <input type="password" name="password">
  <button>Sign in</button>
</form>
